<h1> <%= @band.name%></h1>
<%= link_to 'Up (band index)', bands_url %> |
<%= link_to 'Edit', edit_band_url %> | 
<%= link_to 'New Album', new_band_album_url(band_id: params[:id]) %>

<%= button_to 'Delete', band_url, method: 'delete' %>
<ul>
  <% @band.albums.each do |album| %>
    <li>
      <%= link_to album.title, album_url(album) %>
    </li>
  <% end %>
</ul>
